@import url(https://font.googleapis.com/css?family=Montserrat:400,800);
h1 {
    color:green;
}

body {
    background: #f6f5f7; 
    font-family: 'Montserrat', sans-serif;
    color: #3E363F;
}

div { 
    background: pink ;
    text-align: center;   
}
 #contenedor {
    width: 900px;
    height: 500px;
    text-align: center;
    /* Estas 3 lineas se encargan de centrar el div vertical y horizontalmente */
    position: absolute;
    inset: 0;
    margin: auto;
}